<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header class="header">
          <mat-card-title *ngIf="!isEditting">Register</mat-card-title>
          <mat-card-title *ngIf="isEditting">Edit</mat-card-title>
        </mat-card-header>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


            <!-- Username -->
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" name="username" minlength="5"
                        formControlName="username" required>
                </mat-form-field>
                <mat-error *ngIf="!isEditting && !f.username.valid">
                    <div *ngIf="f.username.errors?.required">Username is required.</div>
                    <div *ngIf="f.username.errors?.minlength">Username should be minimum 5 characters.</div>
                </mat-error>

                <!-- Email -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" name="email" minlength="5" [pattern]="emailPattern"
                        formControlName="email" required>
                </mat-form-field>
                <mat-error *ngIf="!isEditting && !f.email.valid">
                    <div *ngIf="f.email.errors?.required">Email is required.</div>
                    <div *ngIf="f.email.errors?.pattern">Email is not valid.</div>
                </mat-error>

                <!-- Password -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" name="password" minlength="5"
                        formControlName="password" required>
                </mat-form-field>
                <mat-error *ngIf="!isEditting && !f.password.valid">
                    <div *ngIf="f.password.errors?.required">Password is required.</div>
                    <div *ngIf="f.password.errors?.minlength">Password should be minimum 5 characters.</div>
                </mat-error>

                <!-- Repeat Password -->
                <mat-form-field *ngIf="!isEditting" class="example-full-width">
                    <input matInput placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword"
                        required>
                </mat-form-field>
                <mat-error *ngIf="!isEditting && !f.confirmPassword.valid">
                  <div *ngIf="f.confirmPassword.errors?.required">Password is required.</div>
                  <div *ngIf="f.confirmPassword.value != f.password.value"> Passwords does not match </div>
                </mat-error>


            </mat-card-content>

          <a routerLink="">
            <button mat-button color="primary" class="btn-block">
              Back
            </button>
          </a>

            <button mat-button color="primary" class="btn-block" *ngIf="isEditable; else edit" type="submit"
                [disabled]="!registerForm.valid"> Save
            </button>

            <ng-template #edit>
                <button mat-button color="primary" class="btn-block" type="button" (click)="enableEdit()">
                    Enable
                </button>
            </ng-template>

        </form>
    </mat-card>
